.navbar {
  background-color: rgb(0, 81, 255);
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
  position: sticky;
  top: 0;
}
.navbar a {
  color: white;
  font-size: 14px;
  text-decoration: none;
  padding: 6px 12px;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.navbar a:hover {
  background-color: rgb(0, 63, 200);
}
